.brand_container{
    background-image: url("../assets/background.jpg");
    background-color: var(--color-bg);
    background-blend-mode: exclusion;
    background-size: auto 827px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:-178px -464px;
    height: 200px;

}

.brand_logo{
    width: 126px;
    height: 109px;
}



@media(min-width: 768px){
    .brand_container{
        width: 100%;
        height: 100%;
        background-position: -181px 12px;
        border-top-right-radius: 254px;
    }

    .brand_logo{
        width: 219px;
        height: 216px;
    }
}