.slogan{
    font-size: var(--font-size-slogan);
    color: var(--color-text);
    font-weight: var(--weight-1);
    padding: 1rem;
    line-height: 25px;
    text-align: center;
}

.subTitle{
        font-size: 30px;
        font-weight: var(--weight-1);
        color: var(--color-secundary);
}

.text--small{
    font-size: 13px;
    font-weight: var(--weight-2);
    color: var(--color-secundary);
}

.text--small > span{
    color: var(--color-secundary);
    cursor: pointer;
}


@media(min-width: 768px){
    .slogan{
        font-size: 30px;
        line-height: 40px;
    }

    .subTitle{
        font-size: 60px;
    }

    .text--small{
        font-size: 18px;
    }
}